
/* Config global */
@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap');
body{
  margin: 0;
  padding: 0;
}
#root{
  font-family: "Rethink Sans", sans-serif;
  font-style: normal;
  
}

/* Topbar */
#logo{
  padding: 2vh;
  margin:2vh
}

#TopBar{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 3.1vh;
  background-color: #CFDBD5;
  
}
#login{
  z-index: 99;
  background-color: antiquewhite;
  padding: 5vh;
  display: flex;
  gap: 6vh;
  
}
#TopBar #opciones{
  display: flex;
  flex-direction: row;
  gap: 8vh;
  
}
.NavLink{
  text-decoration: none;
  color: black;
  
}
.NavLink:hover{
  color: blueviolet;
  cursor: pointer;
}
